@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,600;1,400;1,700&display=swap');
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --thm-black: #222429;
}

$comfortaa-font: "Comfortaa";
$monserrat-font: "Montserrat";
$frauncues-font:"Fraunces";

$fs-25: 25px;
$fs-50: 65px;
$fs-20: 20px;
$fs-12: 12px;
$fs-40: 40px;

// $color-orange: #eb7363;
$color-black: #000000;
$color-orange: #ffa217;
$color-light-orange: #ffba44;

$color-grey: #8a8a8a;
$color-green: #13837d;

$bg-black: #000000;
$bg-white: #ecece9;
$bg-grey: #464444;

$mx-100: 100px;
$mt-150: 150px;

$z-100: 100;
$z-1000: 1000;
$z: 999999;
$h-100per: 100vh;
$ratio: 1 1;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $comfortaa-font;
  background-color: #f1f1f4;
  &:after,
  &:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw; // IE/Edge
    height: 100vh; // fallback
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    animation: background 90s linear infinite;
  }

  &:after {
    left: 15vw;
  }

  &:before {
    right: 15vw;
    animation-delay: -30s;
    animation-direction: reverse;
  }
}
.z {
  z-index: $z;
}
//fonts
.frauncues-font{font-family: $frauncues-font;}

//margin-padding-sizes
.mt-150 {
  margin-top: $mt-150;
}
//colors
.color-orange {
  color: $color-orange;
}
.color-black {
  color: $color-black;
}
.color-grey {
  color: $color-grey;
  color: rgba(0, 0, 0, 0.427);
}
.bg-orange {
  background-color: $color-orange;
}
.bg-grey {
  background-color: $color-orange;
}
.bg-banner-img {
  position: relative;
  background: url("/style/img/HEADER-BG.svg") no-repeat center center fixed;
  // background: url("/style/img/HEADER-BG.svg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}
.fs-12 {
  font-size: $fs-12;
}
.fs-25 {
  font-size: $fs-25;
}
.fs-50 {
  font-size: $fs-50;
}
.fs-40 {
  font-size: $fs-40;
}
.fs-20 {
  font-size: $fs-20;
}
.font-weight-900 {
  font-weight: 900;
}
.logo {
  font-size: $fs-25;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  color: #ffa217;
}

.swiper {
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  height: 100vh;
}
button {
  background-color: transparent;
  border: none;
}
.bg-parallax-img {
  position: relative;
  width: 100%;
  background: #000000;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  overflow: hidden;
  // z-index: -2;
  // background-size: cover;
  // background: url("/style/img/bg-header.jpg") no-repeat center center fixed;
  background-position: center;
  p,
  h3,
  a {
    color: white;
  }
}
.section-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

// .shadow-title {
//   position: fixed;
//   top: 0;
//   // margin-top: 6px;
//   left: -14px;
//   width: 100%;
//   height: 300%;
//   text-align: left;
//   font-family: "Muli", sans-serif;
//   -webkit-writing-mode: vertical-lr;
//   writing-mode: vertical-lr;
//   font-size: 25vw;
//   line-height: 1;
//   color: rgba(240, 234, 234, 0.29);
//   background: linear-gradient(
//     90deg,
//     rgba(104, 104, 104, 0.077),
//     rgba(130, 129, 129, 0.836)
//   );
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-weight: 900;
//   z-index: -1;
// }
.header-main {
  position: relative;
  top: 20%;
  // z-index: 100000;
  span {
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: translateX(-50%) relative;
    font-weight: 900;
    font-family: "Muli", sans-serif;
    // font-family: "Poppins", sans-serif;
    &::after {
      content: " ";
      font-size: 2.5rem;
      position: relative;
      color: rgb(255, 255, 255) !important;
      animation: textrotate 8s linear infinite;
      -webkit-animation: textrotate 8s linear infinite;
    }
  }
  p {
    font-size: $fs-25;
  }
  .img-header {
    object-fit: contain;
    width: 100%;
  }
}

//#id

#header {
  position: fixed;
  top: 0px;
  background-color: none !important;
  backdrop-filter: blur(4px);
  width: 100%;
  z-index: $z;
  margin-bottom: 50px;
  ul {
    list-style: none;

    li {
      position: relative;
      &:hover {
        .dropdown {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
      a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
      }
      .dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding: 20px 0;
        top: 30px;
        transform: translateY(50px);
        left: 0;
        width: 130px;
        background-color: #fff;
        box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.16);
        z-index: 111;
        transition: 0.4s all;

        li a {
          color: #000;
          padding: 10px;
          font-weight: 400;
        }
      }
    }

    .navbar-dropdown {
      .dropdown {
        a {
          &:hover {
            padding-left: 30px;
          }
        }
      }
    }
  }
}
#services-home-page {
  position: relative;
  background: url("/style/img/wallpaper2you_40010.jpg") center top repeat;
  // padding: 120px 0px 90px;
  color: #ffffff;
}
#about-header-main {
  h2 {
    font-family: $frauncues-font;
    font-size: $fs-50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }
}

#blog-header-main {
  h2 {
    font-family: $frauncues-font;
    font-size: $fs-50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }
}
#contact-header-main {
  h2 {
    font-family: $frauncues-font;
    font-size: $fs-50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }
}
#portfolio-header-main {
  h2 {
    font-family: $frauncues-font;
    font-size: $fs-50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }
}
//#id
.card-services {
  background-color: rgba(0, 0, 0, 0.564);
  width: 100%;
  height: 200px;
  border-radius: 7px;
  padding: 50px 45px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  svg {
    position: absolute;
    top: -18px;
    right: 5px;
    display: block;
    color: $color-orange;
  }
}
.card:hover .info {
  transform: translateY(0px);
}
.portfolio-name-items {
  font-family: "Montserrat", Sans-serif;
  color: $color-black;
  font-size: 30px;
  font-weight: 900;
}
.col-img {
  height: 100%;
  width: 100%;
  position: relative;

  border: 12px solid #f1f1f4;
}
.btn-simple-read-white {
  letter-spacing: 1px;
  padding: 0.5em 1em;
  border: 1px solid white;
  color: white;
}
.btn-simple-read-black {
  letter-spacing: 1px;

  padding: 0.5em 1em;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.btn-read-more {
  letter-spacing: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
  &:hover {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #4a2a0831, 4px 4px 5px 0px #4a2a0831;
  }

  &:hover::after {
    top: 0px;
    left: 0px;
  }
}
.current-bottom-line {
  display: block;
  content: "";
  border-bottom: solid 1px $color-orange;
}
.link-bottom-line:after {
  display: block;
  content: "";
  border-bottom: solid 1px $color-orange;
  transform: scaleX(0);
  transition: all 500ms ease;
}
.link-bottom-line:hover:after {
  transform: scaleX(1);
}
.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.646);
}
.overlay-gradient {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:hover {
    display: none;
  }
}

.circular-header-fabs {
  height: 3rem;
  width: 3rem;
  color: rgb(240, 235, 235);
  // padding: 20px;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(240, 238, 238);
  transition: all 0.4s;
}
.circular-header-fabs:hover {
  color: rgb(240, 237, 237);
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid rgb(240, 240, 240);
}
.circular-footer-fabs {
  height: 3rem;
  width: 3rem;
  color: rgb(0, 0, 0);
  // padding: 20px;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(4, 4, 4);
  transition: all 0.4s;
}
.circular-footer-fabs:hover {
  color: rgb(1, 1, 1);
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid rgb(4, 4, 4);
}
.arrow-element {
  z-index: $z;
  position: fixed;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}

.line-bottom {
  border-bottom: 1px solid $color-orange;
}

.hamburger {
  position: absolute;
  z-index: $z;
  top: -16px;
  right: 65px;
  background: transparent;
  cursor: pointer;

  .hamburger--container {
    width: 100%;
    position: relative;

    .hamburger--bars {
      height: 2px;
      width: 1.5em;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 1em;
      transition: 0.3s ease;

      &:before {
        content: "";
        display: block;
        height: 2px;
        width: 2em;
        background: inherit;
        position: absolute;
        left: 0;
        transition: 0.3s ease;
        top: -0.5em;
      }

      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 2em;
        background: inherit;
        position: absolute;
        left: 0;
        transition: 0.3s ease;
        top: 0.5em;
      }
    }
  }
}

.hamburger.is-active {
  .hamburger--container {
    .hamburger--bars {
      background: white;

      &:before {
        background: white;
        left: 0.25em;
      }

      &:after {
        background: white;
        left: -0.25em;
      }
    }
  }
}

.fsmenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  // z-index: $z-1000;
  overflow: hidden;
  display: none;

  .fsmenu--container {
    width: 0;
    height: 100vh;
    padding: 8em 3em 3em;
    background: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    overflow: hidden;

    .fsmenu--text-block {
      width: 100%;
      height: 100%;

      .fsmenu--text-container {
        width: 100%;
        height: 100%;

        .fsmenu--list {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .fsmenu--list-element {
            width: 100%;
            height: 15%;
            list-style-type: none;
            text-align: right;

            a {
              width: 100%;
              text-decoration: none;
              color: white;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              transition: 0.2s ease;

              // &:hover {
              //   color: #e63946;
              // }

              span {
                color: rgb(255, 255, 255);
                font-size: 3em;
                font-weight: 900;
                text-transform: uppercase;
                line-height: 1;
                position: relative;
                z-index: 1002;

                &:before {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: rgb(255, 255, 255);
                  position: absolute;
                  left: 0;
                  z-index: 1003;
                }
              }
            }

            .fsmenu--scrolling-text {
              height: 100%;
              display: flex;
              align-items: center;
              transform: translate(-20%, -100%);
              opacity: 0;

              span {
                // height: 1em;
                font-size: 4em;
                font-weight: 900;
                font-family: "Muli", sans-serif;
                letter-spacing: 10px;
                text-transform: uppercase;
                color: #1e1e1e;
                display: inline-block;
                margin-right: 1em;
              }
            }

            &:hover {
              .fsmenu--scrolling-text {
                font-weight: bold;
                opacity: 1;
                animation: animScrollingContactTextLeft 9s linear 0s infinite;
              }
            }

            .fsmenu--link-img {
              width: 0px;
              height: 50vh;
              padding: -1em 3em 3em;
              position: absolute;
              top: 0;
              right: calc(100vw - 720px);
              z-index: 1001;
              font-size: 16px;

              .fsmenu--img-container {
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;

                img {
                  width: 624px;
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 70%;
                  transform: translate(0, -50%);
                }
              }
            }
          }

          .fsmenu--list-element.open {
            .fsmenu--link-img {
              left: auto;
              right: calc(100vw - 720px);
              animation: animMenuRevealImg 0.4s ease 0s forwards;

              .fsmenu--img-container {
                img {
                  right: 0;
                  left: auto;
                }
              }
            }
          }

          .fsmenu--list-element.is-closing {
            .fsmenu--link-img {
              left: 0;
              right: auto;
              animation: animMenuCloseImg 0.4s ease 0s forwards;

              .fsmenu--img-container {
                img {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fsmenu.is-active {
  display: block;

  .fsmenu--container {
    animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s
      forwards;

    .fsmenu--text-container {
      .fsmenu--list {
        .fsmenu--list-element {
          a {
            span {
              &:before {
                animation: animMenuRevealLinks 0.4s
                  cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
              }
            }
          }
        }
      }
    }
  }
}

.fsmenu.close-menu {
  display: block;

  .fsmenu--container {
    width: 100vw;
    right: auto;
    left: 0;
    animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s
      forwards;

    .fsmenu--text-container {
      .fsmenu--list {
        .fsmenu--list-element {
          a {
            span {
              &:before {
                left: auto;
                right: 0;
                background: black;
                animation: animMenuCloseLinks 0.4s
                  cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
              }
            }
          }
        }
      }
    }
  }
}

.parallax {
  background-image: url("/style/img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
  min-height: 350px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//card-portfolio
.card-portfolio {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 7px 29px 0px;
}
.card-portfolio .content {
  color: #fff;
  bottom: 0;
  height: 65px;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}
.card-portfolio h6 {
  //font: bold 1em/1.125em 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  height: 60px;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.card-portfolio .rollover {
  line-height: 1.4em;
  padding: 18px 20px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.5s ease;
}

.card-portfolio .rollover p {
  margin: 0;
  // font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-family: "Muli", sans-serif;
}

.card-portfolio:hover .content {
  background-color: rgba(0, 0, 0, 0.475);
  height: 80%;
}

.card-portfolio:hover .rollover {
  opacity: 1;
}

//footer-signup
.signup-form {
  display: block;
  margin: 0 auto;
  label {
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
  }
  input {
    background-color: transparent;

    display: block;
    padding: 0;
    width: 100%;
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  textarea {
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  select {
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  .signup-input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    margin-bottom: 1.5em;
    font-size: 1em;
    &:focus {
      border: 0;
      outline: 0;
      border-bottom: 1px solid #000;
    }
  }
  input[type="submit"] {
    font-size: 1em;
    display: block;
    margin: 0 auto;
    width: max-content;
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 1.25em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 0;
    outline: 0;
    transition: 0.3s all ease-in-out;
    &:hover {
      background: #e1702a;
      // padding: 1.25em 4em;
      cursor: pointer;
    }
  }
}
.signup-terms {
  display: block;
  margin: 2em 0;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      + {
        label {
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 7px;
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
      ~ {
        label {
          &:before {
            background: #000;
          }
        }
      }
    }
  }
  label {
    position: relative;
    cursor: pointer;
    text-transform: initial;
    a {
      color: #333;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    &:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 3px solid #000;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 1em;
    }
  }
}
//signup
.bottom-call-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0;
  width: 100%;
  // z-index: $z;
  z-index: 100;
}
.bottom_tawk_to {
  position: fixed;
  bottom: 65px;
  right: 30px;
  padding: 0;
  text-decoration: none;
  margin: 0;
  margin-bottom: 5%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: linear-gradient($color-orange, $color-black);
  border: 0;
}
//contact-3cards
.grid-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.square-container {
  width: 100%;
  height: 0;
  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  .content {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
  }
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  height: auto;
  color: #fff;
}

.back {
  background: #000000;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: linear-gradient(to bottom, #38305c, #2d2b46);
  backface-visibility: hidden;
}
.grid-item:hover .front,
.grid-item:hover .back {
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.grid-item .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.grid-item .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
//filter-portfolio
.filterDiv {
  float: left;
  display: none;
  z-index: $z-100;
}
img {
  display: block;
  max-width: 100%;
}
.blog-layout {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 2rem;
}

.blog-column {
  padding: 0 1.5rem;
  grid-column: span 5;

  @media (min-width: 1200px) {
    grid-column: span 1;
    border-right: 1px solid rgb(235, 149, 43);
    &:last-child {
      border-right: none;
    }
  }

  &:nth-child(2) {
    @media (min-width: 1200px) {
      grid-column: span 2;
    }
  }
}

.article {
  & + .article {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgb(235, 149, 43);
  }
}

.article-img {
  & + * {
    margin-top: 1rem;
  }
}

.article-link {
  color: inherit;
  text-decoration: none;
}

.article-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.25;
  color: #000;

  &--large {
    font-size: 2rem;
    & + * {
      margin-top: 1.5rem;
    }
  }

  &--medium {
    font-size: 1.5rem;
    & + * {
      margin-top: 0.75rem;
    }
  }

  &--small {
    font-size: 1.25rem;
    & + * {
      margin-top: 0.75rem;
    }
  }
}

.article-excerpt,
.article-creditation {
  font-size: 1.125rem;
  line-height: 1.4;
  p + p {
    margin-top: 1.5rem;
  }
}

.article-category {
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  svg {
    max-width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

.podcast-progression {
  flex: 1;
  height: 8px;
  border-radius: 99em;
  background-color: #d9d4cd;
  background-image: linear-gradient(
    to right,
    #f99970 30%,
    #d9d4cd 30%,
    #d9d4cd 100%
  );
}

:focus {
  outline: 0;
}
.blog-date::after {
    content: "";
    display: block;
    width: -110px;
    height: 1px;
    margin-left: -110px;
    background: $color-orange;
    mix-blend-mode: multiply;
    margin-top: 0.67rem;
}
.show {
  display: block;
}
.courses a {
  display: block;
  // height: 60px;
  width: 100%;
  background: whitesmoke;
  color: black;
  border: 1px solid white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.courses .mix-target {
  display: none;
}
.carousel-nav-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 15px;
  color: rgb(255, 255, 255) !important;
  z-index: $z-1000;
  // padding: 20px;
  // border: 1px solid #1a1a1a;
}
.carousel-item {
  // img {
  //   // filter: grayscale(1);
  //   // &:hover {
  //   //   // filter: grayscale(0);
  //   // }
  // }
  .col,
  .col-sm,
  .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }
}
.blog-post {
  margin-bottom: 100px;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.blog-post_img {
  box-shadow: rgb(82 82 90 / 34%) 0px 7px 29px 0px;
  transform: translateX(-6rem);
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
    border-radius: 0.8rem;
    &:hover {
      transform: scale(1.1);
    }
  }
}
#footer {
  position: fixed;
  margin-top: 50px;
  bottom: 0;
}
//@media

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 50rem;
  }
  .blog-post_img {
    min-width: 15rem;
    max-width: 15rem;
  }
}
@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}
@media screen and (max-width: 360px) {
  .fs-sm-32 {
    font-size: 1.5rem !important;
  }
  .fs-sm-40 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 768px) {
  .blog-post {
    text-align: center;

    padding-left: 1rem;
    flex-direction: column;
  }
  .blog-post_img {
    transform: translate(0, -8rem);
  }
  .fs-sm-12 {
    font-size: $fs-12;
  }
  .mb-sm-4 {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .header-main {
    span {
      font-size: 3rem !important;
    }
    p {
      font-size: 1rem;
    }
    span::after {
      font-size: 3rem !important;
    }
  }
}
@media screen and (max-width: 620px) {
  .pxx-sm-0 {
    padding-left: 0%;
    padding-right: 0%;
  }
  // .header-main {
  //   span {
  //     font-size: 3rem !important;
  //   }
  //   p {
  //     font-size: 1rem;
  //   }
  //   span::after {
  //     content: " ";
  //     font-size: 3rem !important;
  //     position: relative;
  //     // color: rgb(0, 0, 0);
  //     animation: textrotate 8s linear infinite;
  //     -webkit-animation: textrotate 8s linear infinite;
  //   }
  // }
}
@media screen and (max-width: 992px) {
  #footer {
    p,
    li a,
    span {
      font-size: 13px;
    }
  }
  .text-sm-center {
    text-align: center;
  }
  .fs-sm-16 {
    font-size: 16px;
  }
  .shadow-title {
    font-size: 40vw;
  }
}

//kyframes

@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}
@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }

  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}
@keyframes animMenuRevealImg {
  0% {
    width: 0;
  }

  100% {
    width: 720px;
  }
}
@keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }

  100% {
    width: 0;
  }
}
@keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }

  100% {
    transform: translate(-40%, -100%);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
