@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --thm-black: #222429;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa";
  background-color: #f1f1f4;
}
body:after, body:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  -webkit-animation: background 90s linear infinite;
          animation: background 90s linear infinite;
}
body:after {
  left: 15vw;
}
body:before {
  right: 15vw;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  animation-direction: reverse;
}

.z {
  z-index: 999999;
}

.color-orange {
  color: #fe7c36;
}

.color-black {
  color: #000000;
}

.color-grey {
  color: #8a8a8a;
}

.bg-orange {
  background-color: #fe7c36;
}

.bg-banner-img {
  position: relative;
  background: url("/style/img/HEADER-BG.svg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.fs-lg-12 {
  font-size: 12px;
}

.fs-lg-25 {
  font-size: 25px;
}

.fs-lg-50 {
  font-size: 65px;
}

.fs-lg-40 {
  font-size: 40px;
}

.fs-lg-20 {
  font-size: 20px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.288);
}

.swiper {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  height: 100vh;
}

.bg-parallax-img {
  position: relative;
  width: 100%;
  background: #000000;
  -webkit-animation: animate 7.5s ease-in-out infinite;
          animation: animate 7.5s ease-in-out infinite;
  display: flex;
  overflow: hidden;
  background-position: center;
}
.bg-parallax-img p,
.bg-parallax-img h3,
.bg-parallax-img a {
  color: white;
}

.section-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#header {
  position: fixed;
  top: 0px;
  background-color: none !important;
  width: 100%;
  z-index: 999999;
}
#header ul {
  list-style: none;
}
#header ul li {
  position: relative;
}
#header ul li a {
  font-weight: bold;
  text-decoration: none;
}
#header ul li ul {
  display: none;
  position: absolute;
  overflow: auto;
  left: -20px;
  top: 35px;
  width: 150px;
  background-color: #115160;
  padding: 15px;
}
#header ul li:hover ul {
  display: block;
}

.header-main {
  position: relative;
  top: 20%;
}
.header-main span {
  color: white;
  font-size: 70px;
  position: translateX(-50%) relative;
  font-weight: 900;
  font-family: "Muli", sans-serif;
}
.header-main span::after {
  content: " ";
  font-size: 4.7rem;
  position: relative;
  color: white !important;
  animation: textrotate 8s linear infinite;
  -webkit-animation: textrotate 8s linear infinite;
}
.header-main p {
  font-size: 25px;
}
.header-main .img-header {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#services-home-page {
  position: relative;
  background: url("/style/img/wallpaper2you_40010.jpg") center top repeat;
  color: #ffffff;
}

#about-page h2 {
  font-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
}

.card-services {
  background-color: rgba(0, 0, 0, 0.564);
  width: 100%;
  height: 200px;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 50px 45px;
}
.card-services svg {
  position: absolute;
  top: -18px;
  right: 5px;
  display: block;
  color: #fe7c36;
}

.card:hover .info {
  transform: translateY(0px);
}

.portfolio-name-items {
  font-family: "Montserrat", Sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 900;
}

.col-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 12px solid #f1f1f4;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(#13837d);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(19, 131, 125, 0);
}

.btn-read-more {
  color: #4da4a7;
  transition: 0.25s;
  background: transparent;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em 2em;
}
.btn-read-more:hover, .btn-read-more:focus {
  border-color: #6cafb1;
}

.link-bottom-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #54c5c9;
  transform: scaleX(0);
  transition: all 500ms ease;
}

.link-bottom-line:hover:after {
  transform: scaleX(1);
}

.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}

.circular-header-fabs {
  height: 3rem;
  width: 3rem;
  color: #f0ebeb;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0eeee;
  transition: all 0.4s;
}

.circular-header-fabs:hover {
  color: #f0eded;
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid #f0f0f0;
}

.circular-footer-fabs {
  height: 3rem;
  width: 3rem;
  color: black;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #040404;
  transition: all 0.4s;
}

.circular-footer-fabs:hover {
  color: #010101;
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid #040404;
}

.arrow-element {
  z-index: 999999;
  position: fixed;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}

.line-bottom {
  border-bottom: 1px solid #6cafb1;
}

.hamburger {
  position: absolute;
  z-index: 999999;
  top: -16px;
  right: 65px;
  background: transparent;
  cursor: pointer;
}
.hamburger .hamburger--container {
  width: 100%;
  position: relative;
}
.hamburger .hamburger--container .hamburger--bars {
  height: 2px;
  width: 1.5em;
  background: white;
  position: absolute;
  top: 1em;
  transition: 0.3s ease;
}
.hamburger .hamburger--container .hamburger--bars:before {
  content: "";
  display: block;
  height: 2px;
  width: 2em;
  background: inherit;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
  top: -0.5em;
}
.hamburger .hamburger--container .hamburger--bars:after {
  content: "";
  display: block;
  height: 2px;
  width: 2em;
  background: inherit;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
  top: 0.5em;
}

.hamburger.is-active .hamburger--container .hamburger--bars {
  background: white;
}
.hamburger.is-active .hamburger--container .hamburger--bars:before {
  background: white;
  left: 0.25em;
}
.hamburger.is-active .hamburger--container .hamburger--bars:after {
  background: white;
  left: -0.25em;
}

.fsmenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: none;
}
.fsmenu .fsmenu--container {
  width: 0;
  height: 100vh;
  padding: 8em 3em 3em;
  background: black;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.fsmenu .fsmenu--container .fsmenu--text-block {
  width: 100%;
  height: 100%;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container {
  width: 100%;
  height: 100%;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element {
  width: 100%;
  height: 15%;
  list-style-type: none;
  text-align: right;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a {
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s ease;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a:hover {
  color: #e63946;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span {
  color: white;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  z-index: 1002;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 0;
  z-index: 1003;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate(-20%, -100%);
  opacity: 0;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text span {
  font-size: 4em;
  font-weight: 900;
  font-family: "Muli", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #1e1e1e;
  display: inline-block;
  margin-right: 1em;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element:hover .fsmenu--scrolling-text {
  font-weight: bold;
  opacity: 1;
  -webkit-animation: animScrollingContactTextLeft 9s linear 0s infinite;
          animation: animScrollingContactTextLeft 9s linear 0s infinite;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img {
  width: 0px;
  height: 50vh;
  padding: -1em 3em 3em;
  position: absolute;
  top: 0;
  right: calc(100vw - 720px);
  z-index: 1001;
  font-size: 16px;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container img {
  width: 624px;
  display: block;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translate(0, -50%);
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img {
  left: auto;
  right: calc(100vw - 720px);
  -webkit-animation: animMenuRevealImg 0.4s ease 0s forwards;
          animation: animMenuRevealImg 0.4s ease 0s forwards;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img .fsmenu--img-container img {
  right: 0;
  left: auto;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img {
  left: 0;
  right: auto;
  -webkit-animation: animMenuCloseImg 0.4s ease 0s forwards;
          animation: animMenuCloseImg 0.4s ease 0s forwards;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img .fsmenu--img-container img {
  left: 0;
  right: auto;
}

.fsmenu.is-active {
  display: block;
}
.fsmenu.is-active .fsmenu--container {
  -webkit-animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
          animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
}
.fsmenu.is-active .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  -webkit-animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
          animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
}

.fsmenu.close-menu {
  display: block;
}
.fsmenu.close-menu .fsmenu--container {
  width: 100vw;
  right: auto;
  left: 0;
  -webkit-animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
          animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
}
.fsmenu.close-menu .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  left: auto;
  right: 0;
  background: black;
  -webkit-animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
          animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
}

.parallax {
  background-image: url("/style/img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
  min-height: 350px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-portfolio {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 7px 29px 0px;
}

.card-portfolio .content {
  color: #fff;
  bottom: 0;
  height: 65px;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}

.card-portfolio h5 {
  letter-spacing: 1px;
  height: 60px;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.card-portfolio .rollover {
  line-height: 1.4em;
  padding: 18px 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

.card-portfolio .rollover p {
  margin: 0;
  font-family: "Muli", sans-serif;
}

.card-portfolio:hover .content {
  background-color: rgba(0, 0, 0, 0.475);
  height: 80%;
}

.card-portfolio:hover .rollover {
  opacity: 1;
}

.signup-form {
  display: block;
  margin: 0 auto;
}
.signup-form label {
  display: block;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
.signup-form input {
  background-color: transparent;
  display: block;
  padding: 0;
  width: 100%;
}
.signup-form input:-webkit-autofill {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form input:-webkit-autofill:hover {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form input:-webkit-autofill:focus {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form textarea:-webkit-autofill {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form textarea:-webkit-autofill:hover {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form textarea:-webkit-autofill:focus {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form select:-webkit-autofill {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form select:-webkit-autofill:hover {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form select:-webkit-autofill:focus {
  border: 0;
  border-bottom: 2px solid black;
  -webkit-text-fill-color: black;
}
.signup-form .signup-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  margin-bottom: 1.5em;
  font-size: 1em;
}
.signup-form .signup-input:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
}
.signup-form input[type=submit] {
  font-size: 1em;
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: black;
  width: 100%;
  padding: 1.25em 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 0;
  outline: 0;
  transition: 0.3s all ease-in-out;
}
.signup-form input[type=submit]:hover {
  background: #3a3861;
  cursor: pointer;
}

.signup-terms {
  display: block;
  margin: 2em 0;
}
.signup-terms input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.signup-terms input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.signup-terms input:checked ~ label:before {
  background: #000;
}
.signup-terms label {
  position: relative;
  cursor: pointer;
  text-transform: initial;
}
.signup-terms label a {
  color: #333;
  text-decoration: underline;
}
.signup-terms label a:hover {
  text-decoration: none;
}
.signup-terms label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 3px solid #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1em;
}

.bottom-call-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0;
  width: 100%;
  z-index: 100;
}

.bottom_tawk_to {
  position: fixed;
  bottom: 65px;
  right: 30px;
  padding: 0;
  text-decoration: none;
  margin: 0;
  margin-bottom: 5%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  z-index: 100;
  border-radius: 50%;
  background-image: linear-gradient(#fe7c36, #150e0b);
  border: 0;
}

.grid-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.square-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.square-container .content {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  height: auto;
  color: #fff;
}

.back {
  background: #000000;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: linear-gradient(to bottom, #38305c, #2d2b46);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.grid-item:hover .front,
.grid-item:hover .back {
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.grid-item .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.grid-item .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.courses a {
  display: block;
  width: 100%;
  background: whitesmoke;
  color: black;
  border: 1px solid white;
  transition: all 0.4s ease;
}

.courses .mix-target {
  display: none;
}

.carousel-nav-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 10px;
  color: white !important;
  z-index: 1000;
}

.carousel-item .col,
.carousel-item .col-sm,
.carousel-item .col-md {
  margin: 8px;
  height: 300px;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 360px) {
  .fs-sm-32 {
    font-size: 1.5rem !important;
  }

  .fs-sm-40 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 768px) {
  .order-first-sm {
    order: 2;
  }

  .order-second-sm {
    order: -1;
  }

  .fs-sm-12 {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__img {
    max-width: 340px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3.8rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 35px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -15px !important;
    transform: rotate(5deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 52px;
  }

  .postcard.dark .postcard__text:before {
    background: #ebeaea;
  }

  .postcard.light .postcard__text:before {
    background: #ebeaea;
  }
}
@media screen and (max-width: 1280px) {
  .header-main span {
    font-size: 3rem !important;
  }
  .header-main p {
    font-size: 1rem;
  }
  .header-main span::after {
    content: " ";
    font-size: 3rem !important;
    position: relative;
    animation: textrotate 8s linear infinite;
    -webkit-animation: textrotate 8s linear infinite;
  }
}
@media screen and (max-width: 620px) {
  .pxx-sm-0 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .header-main span {
    font-size: 3rem !important;
  }
  .header-main p {
    font-size: 1rem;
  }
  .header-main span::after {
    content: " ";
    font-size: 3rem !important;
    position: relative;
    animation: textrotate 8s linear infinite;
    -webkit-animation: textrotate 8s linear infinite;
  }
}
@media screen and (max-width: 992px) {
  #footer p,
#footer li a,
#footer span {
    font-size: 13px;
  }

  .text-sm-center {
    text-align: center;
  }

  .fs-sm-16 {
    font-size: 16px;
  }

  .shadow-title {
    font-size: 40vw;
  }
}
@-webkit-keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}
@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}
@-webkit-keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@-webkit-keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@-webkit-keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}
@keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #13837d;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #13837d;
  }
}
@-webkit-keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes textrotate {
  0% {
    content: "Web saytlar";
  }
  50% {
    content: "Web tetbiqler";
  }
  100% {
    content: "Dizayn";
  }
}
@keyframes textrotate {
  0% {
    content: "Web saytlar";
  }
  50% {
    content: "Web tetbiqler";
  }
  100% {
    content: "Dizayn";
  }
}
.filterDiv {
  float: left;
  display: none;
  z-index: 100;
}

.show {
  display: block;
}/*# sourceMappingURL=style.css.map */