@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --thm-black: #222429;
}

$comfortaa-font: "Comfortaa";
$monserrat-font: "Montserrat";

$fs-lg-25: 25px;
$fs-lg-50: 65px;
$fs-lg-20: 20px;
$fs-lg-13: 13px;
$fs-lg-12: 12px;
$fs-lg-40: 40px;

// $color-orange: #eb7363;
$color-black: #000000;
$color-orange: #fe7c36;
$color-grey: #8a8a8a;
$color-green: #13837d;

$bg-black: #000000;
$bg-white: #ecece9;

$mx-100: 100px;

$z-100: 100px;
$z-1000: 1000px;
$z: 999999;
$h-100per: 100vh;
$ratio: 1 1;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $comfortaa-font;
  background-color: #f1f1f4;
  &:after,
  &:before {
      content: '';
      display: block;
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100vw;  // IE/Edge
      height: 100vh; // fallback
      width: 100vmax;
      height: 100vmax;
      background: rgba(0,0,0,0.05);
      animation: background 90s linear infinite;
  }

  &:after {
      left: 15vw;
  }

  &:before {
      right: 15vw;
      animation-delay: -30s;
      animation-direction: reverse;
  }
}

.color-orange {
  color: $color-orange;
}
.color-black {
  color: $color-black;
}
.color-grey {
  color: $color-grey;
}
.bg-orange {
  background-color: $color-orange;
}

.bg-banner-img {
  position: relative;
  background: url("/style/img/HEADER-BG.svg") no-repeat center center fixed;
  // background: url("/style/img/HEADER-BG.svg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}
.fs-lg-12 {
  font-size: $fs-lg-12;
}
.fs-lg-25 {
  font-size: $fs-lg-25;
}
.fs-lg-50 {
  font-size: $fs-lg-50;
}
.fs-lg-40 {
  font-size: $fs-lg-40;
}
.fs-lg-20 {
  font-size: $fs-lg-20;
}
.logo {
  font-size: $fs-lg-25;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.288);
}

.swiper {
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #333;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  overflow: hidden;
  // background-size: cover;
  background-position: center center;
  p,
  h3,
  a {
    color: white;
  }
}


@keyframes background {
  0% {
      transform: rotate(0deg);
  }
  
  100% {
      transform: rotate(360deg);
  }
}


// .bg-header-img {
//   position: relative;
//   background: linear-gradient(
//     -45deg,
//     #3f51b1 0%,
//     #5a55ae 13%,
//     #7b5fac 25%,
//     #8f6aae 38%,
//     #a86aa4 50%,
//     #cc6b8e 62%,
//     #f18271 75%,
//     #f3a469 87%,
//     #f7c978 100%
//   );
//   // background: url("/style/img/bg-header.jpg") no-repeat center center fixed;

//   // background-size: cover;
//   height: 100vh;
//   background-position: center;
//   margin: 0;
//   width: 100%;
//   animation: gradient 15s ease infinite!important;
//   -webkit-animation: gradient 15s ease infinite!important;
// }
// @keyframes gradient{
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

#header {
  position: fixed;
  top: 0px;
  background-color: none !important;
  //   backdrop-filter: blur(4px);
  width: 100%;
  z-index: $z;

  ul {
    list-style: none;

    li {
      a {
        font-weight: bold;
        text-decoration: none;
      }

      position: relative;

      ul {
        display: none;
        position: absolute;
        overflow: auto;
        top: 30px;
        width: 150px;
        background-color: #5e5e6894;
        box-shadow: rgb(112 112 122 / 50%) 0px 7px 29px 0px;
        padding: 15px;
        border-radius: 4px;
      }

      &:hover ul {
        display: block;
      }
    }
  }
}
.header-main {
  position: relative;
  top: 30%;
  span {
    color: rgb(255, 250, 240);
    font-size: 70px;
    position: translateX(-50%) relative;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    &::after {
      content: " ";
      font-size: 4.7rem;
      position: relative;
      color: rgb(0, 0, 0);
      animation: textrotate 8s linear infinite;
      -webkit-animation: textrotate 8s linear infinite;
    }
  }
  p {
    font-size: $fs-lg-25;
  }
  .img-header {
    object-fit: contain;
    width: 100%;
  }
}
@keyframes textrotate {
  0% {
    content: "Web saytlar";
  }
  50% {
    content: "Web tetbiqler";
  }
  100% {
    content: "Dizayn";
  }
}

#services-home-page {
  position: relative;
  background: url("/style/img/wallpaper2you_40010.jpg") center top repeat;
  // padding: 120px 0px 90px;
  color: #ffffff;
}
#about-page {
  h2 {
    font-size: $fs-lg-50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }
}
h2 {
  font-family: $monserrat-font;
  font-weight: 900;
}

.card-services {
  background-color: rgba(0, 0, 0, 0.564);
  width: 100%;
  height: 200px;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  // border: 1px solid white;
  padding: 50px 45px;
  svg {
    position: absolute;
    top: -18px;
    right: 5px;
    display: block;
    color: $color-orange;
  }
}

.card:hover .info {
  transform: translateY(0px);
}
.portfolio-name-items {
  font-family: "Montserrat", Sans-serif;
  color: $color-black;
  font-size: 30px;
  font-weight: 900;
}
.col-left-img {
  height: 100%;
  width: 100%;
  position: relative;
  // border: 10px solid #f1f1f4;
  &::after {
    content: "";
    position: absolute;
    left: -42px;
    top: 54px;
    height: 98%;
    width: 98%;
    border: 8px solid #13837d;
    z-index: -1;
  }
}
.col-right-img {
  height: 100%;
  width: 100%;
  position: relative;
  // border: 10px solid #f1f1f4;
  &::after {
    content: "";
    position: absolute;
    right: -42px;
    bottom: 54px;
    height: 98%;
    width: 98%;
    border: 8px solid #13837d;
    z-index: -1;
  }
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var($color-green);
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba($color-green, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $color-green;
  }
}
.btn-read-more {
  color: $color-green;
  transition: 0.25s;
  background: transparent;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  &:hover,
  &:focus {
    border-color: $color-green;
  }
}

.link-bottom-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #eb7363;
  transform: scaleX(0);
  transition: all 500ms ease;
}
.link-bottom-line:hover:after {
  transform: scaleX(1);
}
.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}
.circular-header-fabs {
  height: 3rem;
  width: 3rem;
  color: rgb(240, 235, 235);
  // padding: 20px;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(240, 238, 238);
  transition: all 0.4s;
}
.circular-header-fabs:hover {
  color: rgb(240, 237, 237);
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid rgb(240, 240, 240);
}

.circular-footer-fabs {
  height: 3rem;
  width: 3rem;
  color: rgb(0, 0, 0);
  // padding: 20px;
  border-radius: 100px;
  vertical-align: middle;
  font-size: 0.9375rem;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(4, 4, 4);
  transition: all 0.4s;
}
.circular-footer-fabs:hover {
  color: rgb(1, 1, 1);
  opacity: 0.9;
  text-decoration: none;
  transform: rotate(360deg);
  border: 1px solid rgb(4, 4, 4);
}

.arrow-element {
  z-index: $z;
  position: fixed;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}

.line-bottom {
  border-bottom: 1px solid #eb7363;
}

.hamburger {
  position: absolute;
  z-index: $z;
  top: -16px;
  right: 36;
  background: transparent;
  cursor: pointer;

  .hamburger--container {
    width: 100%;
    position: relative;

    .hamburger--bars {
      height: 2px;
      width: 2em;
      background: rgb(255, 255, 255);
      position: absolute;
      top: 1em;
      transition: 0.3s ease;

      &:before {
        content: "";
        display: block;
        height: 2px;
        width: 3em;
        background: inherit;
        position: absolute;
        left: 0;
        transition: 0.3s ease;
        top: -0.5em;
      }

      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 3em;
        background: inherit;
        position: absolute;
        left: 0;
        transition: 0.3s ease;
        top: 0.5em;
      }
    }
  }
}

.hamburger.is-active {
  .hamburger--container {
    .hamburger--bars {
      background: white;

      &:before {
        background: white;
        left: 0.25em;
      }

      &:after {
        background: white;
        left: -0.25em;
      }
    }
  }
}

.fsmenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-1000;
  overflow: hidden;
  display: none;

  .fsmenu--container {
    width: 0;
    height: 100vh;
    padding: 8em 3em 3em;
    background: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    overflow: hidden;

    .fsmenu--text-block {
      width: 100%;
      height: 100%;

      .fsmenu--text-container {
        width: 100%;
        height: 100%;

        .fsmenu--list {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .fsmenu--list-element {
            width: 100%;
            height: 15%;
            list-style-type: none;
            text-align: right;

            a {
              width: 100%;
              text-decoration: none;
              color: white;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              transition: 0.2s ease;

              &:hover {
                color: #e63946;
              }

              span {
                color: rgb(255, 255, 255);
                font-size: 2.5em;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1;
                position: relative;
                z-index: 1002;

                &:before {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: rgb(255, 255, 255);
                  position: absolute;
                  left: 0;
                  z-index: 1003;
                }
              }
            }

            .fsmenu--scrolling-text {
              height: 100%;
              display: flex;
              align-items: center;
              transform: translate(-20%, -100%);
              opacity: 0;

              span {
                height: 1em;
                font-size: 4em;
                font-weight: 900;
                letter-spacing: 10px;
                text-transform: uppercase;
                color: #1e1e1e;
                display: inline-block;
                margin-right: 1em;
              }
            }

            &:hover {
              .fsmenu--scrolling-text {
                font-weight: bold;
                opacity: 1;
                animation: animScrollingContactTextLeft 9s linear 0s infinite;
              }
            }

            .fsmenu--link-img {
              width: 0px;
              height: 50vh;
              padding: -1em 3em 3em;
              position: absolute;
              top: 0;
              right: calc(100vw - 720px);
              z-index: 1001;
              font-size: 16px;

              .fsmenu--img-container {
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;

                img {
                  width: 624px;
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translate(0, -50%);
                }
              }
            }
          }

          .fsmenu--list-element.open {
            .fsmenu--link-img {
              left: auto;
              right: calc(100vw - 720px);
              animation: animMenuRevealImg 0.4s ease 0s forwards;

              .fsmenu--img-container {
                img {
                  right: 0;
                  left: auto;
                }
              }
            }
          }

          .fsmenu--list-element.is-closing {
            .fsmenu--link-img {
              left: 0;
              right: auto;
              animation: animMenuCloseImg 0.4s ease 0s forwards;

              .fsmenu--img-container {
                img {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fsmenu.is-active {
  display: block;

  .fsmenu--container {
    animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s
      forwards;

    .fsmenu--text-container {
      .fsmenu--list {
        .fsmenu--list-element {
          a {
            span {
              &:before {
                animation: animMenuRevealLinks 0.4s
                  cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
              }
            }
          }
        }
      }
    }
  }
}

.fsmenu.close-menu {
  display: block;

  .fsmenu--container {
    width: 100vw;
    right: auto;
    left: 0;
    animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s
      forwards;

    .fsmenu--text-container {
      .fsmenu--list {
        .fsmenu--list-element {
          a {
            span {
              &:before {
                left: auto;
                right: 0;
                background: black;
                animation: animMenuCloseLinks 0.4s
                  cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
              }
            }
          }
        }
      }
    }
  }
}

.card {
  position: relative;
  height: 400px;
  background: rgba(255, 255, 255, 0.055);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(1rem);
  border-radius: 0 0 15px 0;
  border-radius: 15px;
  border: 0;

  .box {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    img {
      width: 80px;
      margin-bottom: 10px;
    }

    .content-center p {
      font-size: $fs-lg-13;
    }
  }
}

.card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: #000;
}

.card:hover .box .content-center h5 {
  color: #fff;
}

.card:hover .box .content-center p {
  color: #fff;
}
.parallax {
  background-image: url("/style/img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
  min-height: 350px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//card-portfolio
.card-portfolio {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 7px 29px 0px;
}
.card-portfolio .content {
  color: #fff;
  bottom: 0;
  height: 65px;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}
.card-portfolio h3 {
  //font: bold 1em/1.125em 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  height: 68px;
  margin: 0;
  padding-top: 20px;
  text-transform: uppercase;
}

.card-portfolio .rollover {
  font-size: 0.9375em;
  line-height: 1.4em;
  padding: 18px 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

.card-portfolio .rollover p {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.card-portfolio:hover .content {
  background-color: rgba(0, 0, 0, 0.612);

  height: 80%;
}

.card-portfolio:hover .rollover {
  opacity: 1;
}

//footer-signup
.signup-form {
  display: block;
  margin: 0 auto;
  label {
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
  }
  input {
    background-color: transparent;

    display: block;
    padding: 0;
    width: 100%;
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  textarea {
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  select {
    &:-webkit-autofill {
      border: 0;
      border-bottom: 2px solid black;
      -webkit-text-fill-color: black;
      &:hover {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
      &:focus {
        border: 0;
        border-bottom: 2px solid black;
        -webkit-text-fill-color: black;
      }
    }
  }
  .signup-input {
    border: 0;
    border-bottom: 2px solid #000;
    margin-bottom: 1em;
    font-size: 1em;
    &:focus {
      border: 0;
      outline: 0;
      border-bottom: 1px solid #000;
    }
  }
  input[type="submit"] {
    font-size: 1em;
    display: block;
    margin: 0 auto;
    width: max-content;
    background: #333;
    width: 100%;
    padding: 1.25em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 0;
    outline: 0;
    transition: 0.3s all ease-in-out;
    &:hover {
      background: #eb7363;
      // padding: 1.25em 4em;
      cursor: pointer;
    }
  }
}
.signup-terms {
  display: block;
  margin: 2em 0;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      + {
        label {
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 7px;
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
      ~ {
        label {
          &:before {
            background: #000;
          }
        }
      }
    }
  }
  label {
    position: relative;
    cursor: pointer;
    text-transform: initial;
    a {
      color: #333;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    &:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 3px solid #000;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 1em;
    }
  }
}
//signup
.bottom-call-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0;
  width: 100%;
  z-index: $z-1000;
}
//contact-3cards
.grid-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.square-container {
  width: 100%;
  height: 0;
  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  .content {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
  }
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  height: auto;
  color: #fff;
}

.back {
  background: #000000;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-image: linear-gradient(to right, #f29898, #de7b41);
  backface-visibility: hidden;
}
.grid-item:hover .front,
.grid-item:hover .back {
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.grid-item .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.grid-item .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.grid-item:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
//filter-portfolio

.courses a {
  display: block;
  // height: 60px;
  width: 100%;
  background: whitesmoke;
  color: black;
  border: 1px solid white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.courses .mix-target {
  display: none;
}
//@at-root
.carousel-nav-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 10px;

  // padding: 20px;
  // border: 1px solid #1a1a1a;
}
.carousel-item {
  img {
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
  }
  .col,
  .col-sm,
  .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }
}

//
@media (max-width: 360px) {
  .fs-sm-32 {
    font-size: 2rem !important;
  }
  .fs-sm-40 {
    font-size: 3rem !important;
  }
}

@media (max-width: 768px) {
  // .arrow-element {
  //   width: 40px;
  // }

  .fs-sm-12 {
    font-size: $fs-lg-12;
  }
}
@media (max-width: 620px) {
  .pxx-sm-0 {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media (min-width: 620px) {
  .fs-md-40 {
    font-size: 3rem !important;
  }
  .header-main {
    position: relative;
    top: 20%;
    span {
      color: rgb(255, 250, 240);
      font-size: 70px;
      position: translateX(-50%) relative;
      font-weight: 900;
      font-family: "Poppins", sans-serif;
      &::after {
        content: " ";
        font-size: 3.5rem;
        position: relative;
        color: rgb(0, 0, 0);
        animation: textrotate 8s linear infinite;
        -webkit-animation: textrotate 8s linear infinite;
      }
    }
    p {
      font-size: 15px;
    }
    .img-header {
      object-fit: contain;
      width: 100%;
    }
  }
}
@media (max-width: 992px) {
  .text-sm-center {
    text-align: center;
  }
}

@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }

  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}

@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}

@keyframes animMenuRevealImg {
  0% {
    width: 0;
  }

  100% {
    width: 720px;
  }
}

@keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }

  100% {
    width: 0;
  }
}

@keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }

  100% {
    transform: translate(-40%, -100%);
  }
}
